<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">
	<context:component-scan
		base-package="com.xworkz.comapp" />
	<bean
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="driverManagerDataSource"></property>
		<property name="annotatedClasses">
			<list>
				<value>com.xworkz.comapp.entity.RegistrationEntity</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
			</props>
		</property>
	</bean>
	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="driverManagerDataSource">
		<constructor-arg
			value="${driverManagerDataSource.url}"></constructor-arg>
		<constructor-arg
			value="${driverManagerDataSource.username}"></constructor-arg>
		<constructor-arg
			value="${driverManagerDataSource.password}"></constructor-arg>
		<property name="driverClassName"
			value="${driverManagerDataSource.driverClassName}"></property>
	</bean>
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		id="propertyPlaceholderConfigurer">
		<property name="location"
			value="/WEB-INF/classes/database.properties"></property>
	</bean>
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		id="internalResourceViewResolver">
		<constructor-arg name="prefix" value="/"></constructor-arg>
		<constructor-arg name="suffix" value=".jsp"></constructor-arg>
	</bean>
	<bean id="mailSenderImpl"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="varsha.xworkz@gmail.com" />
		<property name="password" value="JobMailId" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.transport.protocol">smtp</prop>
				<prop key="mail.debug">true</prop>
			</props>
		</property>
	</bean>
</beans>